UseCase1/bpelContent/ARIA.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://org.open-o/ARIA/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="ARIA" targetNamespace="http://org.open-o/ARIA/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://org.open-o/ARIA/">
      <xsd:element name="Install">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InstallResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InstallRequest">
    <wsdl:part element="tns:Install" name="payload"/>
  </wsdl:message>
  <wsdl:message name="InstallResponse">
    <wsdl:part element="tns:InstallResponse" name="payload"/>
  </wsdl:message>
  <wsdl:portType name="ARIA">
    <wsdl:operation name="Install">
      <wsdl:input message="tns:InstallRequest"/>
      <wsdl:output message="tns:InstallResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ARIASOAP" type="tns:ARIA">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Install">
      <soap:operation soapAction="http://org.open-o/ARIA/Install"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ARIA">
    <wsdl:port binding="tns:ARIASOAP" name="ARIA">
      <soap:address location="http://localhost:8081/"/>
    </wsdl:port>
  </wsdl:service>
  <plnk:partnerLinkType name="ARIA">
    <plnk:role name="ARIA" portType="tns:ARIA"/>
  </plnk:partnerLinkType>
</wsdl:definitions>
